

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

/* Dropdown content items */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown content items on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Center styles */
.center {
  display: flex;
  align-items: center;
}

/* Search box styles */
input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

/* Button styles */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* Button image styles */
button img {
  width: 20px;
}

/* Logo styles */
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* User icon styles */
.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
