
.Reset{
    height: 100vh;
}
.logo-login{

    width: 4rem;
    padding-top: 3%;
    margin-left: -6rem;
    
}

.openText {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 3%;
    padding-bottom: 2%;
    color: #2f546e;
}

.x{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 5%;
    padding-bottom: 0;
    color: #2f546e;
}

.Reset>button:nth-child(1){
    border: none;
    background-color: white;
    color:#2f546e ;
    text-decoration: none;
    font-size: 1rem;
    float: left;
    padding: 1rem;
    padding-left: 2rem;
} 

.cont{

 background-color:#e3e3e3 ;
}


.continue-btn{
    box-shadow: inset 4px 4px 10px #000000ac;
    font-size: 1.5rem;
    padding: 1rem;
    width: 28.2%;
    border-radius: 5px;
    margin: 0.7rem;
    background-color: #2f546e;
    color: white;
    margin-bottom: 5%;
}
.continue-btn:hover{
    background-color: #192c39;
    
}

.input2 {
    box-shadow: inset 7px -7px 10px #88888874;
    font-size: 1.5rem;
    padding: 1rem;
    width: 26%;
    border-radius: 5px;
    margin: 0.7rem;
  }

.success-message{
    font-size: 1.2rem;
    color: green;
    font-weight: 500;
}
.error-message{
    font-size: 1.2rem;
    color: red;
    font-weight: 500;
}

 
 .link2{
    border: none;
    background-color: white;
    color:#2f546e ;
    text-decoration: none;
    font-size: 1rem;
    float: left;
    padding: 1rem;
    padding-left: 2rem; 
}
.link2:hover{
    
    text-decoration: underline;
}
.success-message {
    font-size: 1.2rem;
    color: green;
    font-weight: 500;
}

.error-message {
    font-size: 1.2rem;
    color: red;
    font-weight: 500;
}
.login-btn2{
    background-color: #ef8f4f;
    border-radius: 10px;
    padding: 0.8rem;
    width: 28%;
    color: black;
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0.5rem;
  }
  
  
  
  .login-btn2:hover {
      background-color: #F26E20;
  
    }

    .openText2 {
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 3%;
        padding-bottom: 2%;
        color: #2f546e;
    }