.changePW{

    position: fixed;
    left: calc((100vw - 33%)/2);
    background-color: #254054;
    border-radius: 10px;
    width: 33%;
    padding: 2rem;
    box-shadow: 4px 4px 10px #000000ac;
    min-height: 50%;


}


    
.changePW>div>form{
    width: 100%;


}


.changePW>div>form>div:nth-of-type(1){

   color: #FB9B51;
   font-size: 1.7rem;
   font-weight: 800;
   text-align: center;
   padding: 1rem;
    
    }
  
input {
    padding: 1rem;
    border-radius: 5px;
    margin: 0.7rem;
    width: 83%;
    font-size: 1.5rem;

  }


 .changePW>div>form>div>button{
    box-shadow: inset 4px 4px 10px #000000ac;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    width: 90%;
    border-radius: 5px;
    margin: 0.7rem;
    background-color: #FB9B51;
    color: rgb(0, 0, 0);
    border: none;
}


.changePW>div>form>div>button:hover{

    background-color: #ff872c;
}